{% extends "base.html" %}
{% from "list.html" import drawcomment %}


{% block title %}post.id{% endblock %}


{% block body %}

    <div class="content">
       <p>{{post.name}}</p>
       <p>{{post.content}}</p>
       <p> {{post.date}} </p>
    </div>

    <div class="comment-form">
        <form action="/comment/{{post.id}}" method="post">

            <label for="name">name:</label>
            <input type="text" id="name" name="name">

            <label for="comment">comment here</label>
            <textarea id="comment" name="comment" rows="10" cols="30"></textarea>

            <button>Submit</button>
        </form>
    </div>

    <div class="commentlist">
        <h3>comments:</h3>
        {{drawcomment(comments)}}
    </div>

{% endblock %}