{% extends "base.html" %}
{% from "list.html" import drawcomment %}


{% block title %}{% if post.title %}{{post.title}}{% else %}{{post.id}}{% endif %}{% endblock %}


{% block body %}
{% if post.replay_id %}
<a href="/comment/{{post.replay_id}}">return</a>
{% else %}
<a href="/">index</a>
{% endif %}
{{drawcomment([post])}}

<div class="comment-form">
    <form action="/comment/{{post.id}}" method="post" id="comment-form">
        <label for="name">name:</label>
        <input type="text" id="name" name="name">
        <label for="title">title:</label>
        <input type="text" id="title" name="title">
        <br>
        <label for="comment">comment here:</label>
        <br>
        <textarea id="comment" name="content"></textarea>

        <input type="submit" value="submit">
    </form>
</div>

<div class="commentlist">
    <h3>comments:</h3>
    {{drawcomment(comments)}}
</div>

{% endblock %}