{% macro drawcomment(comments) %}

{% for comment in comments %}
<div class="comment">
    <div class="comment-header">
        <div class="name">
            {{comment.name}}
        </div class="name">
        <div class="date">
            {{comment.date}}
        </div>
    </div>

    <div class="comment-content">
            {{comment.content}}
    </div>

    <div class="comment-footer">

        <div class="replay">
            <a href="/comment/{{comment.id}}">replay</a>
        </div>
    </div>

    <div class="comment-replay">
        {{drawcomment(comment.replays)}}
    </div>
</div>
{% endfor %}

{% endmacro %}